PORT=5000
MONGO_URI=mongodb+srv://USERNAME:PASSWORD@cluster0.4nfn1dw.mongodb.net/digilians?retryWrites=true&w=majority
JWT_SECRET=your_jwt_secret_here
JWT_EXPIRES_IN=7d
ADMIN_REGISTRATION_KEY=your_admin_code_here
FRONTEND_URL=http://localhost:5180